<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kavinda's Website</title>
</head>
<body>
<h2>Welcome to Kavinda's Website!</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam, felis non fringilla dignissim,
    eros ex commodo dui, non suscipit erat ligula a mi. Integer lacinia pharetra est, sit amet varius leo
    hendrerit id.
</p>
<p>
    Proin vestibulum leo sit amet lorem scelerisque, in dignissim est vehicula. Curabitur molestie risus id
    lorem ullamcorper posuere.
</p>
<p>
    <a href="http://www.kavinda.me" style="padding: 10px 20px; background-color: #007bff; color: #ffffff; text-decoration: none;">Visit Kavinda's Website</a>
</p>
</body>
</html>
